In [84]:
import pandas as pd 
import numpy as np

In [85]:
df1=pd.read_csv('heart.csv')
df1

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [86]:
#data tranformation 
df1.loc[df1['sex']==1,'sex']='M'

In [87]:
df1.loc[df1['sex']==0,'sex']='F'

In [88]:
df1

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,M,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,M,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,M,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,M,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,F,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,M,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,M,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,M,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,F,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,M,0,120,188,0,1,113,0,1.4,1,1,3,0

In [89]:
#Error Correction 
df1[df1['ca']==4]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
52,38,M,2,138,175,0,1,173,0,0.0,2,4,2,1
83,38,M,2,138,175,0,1,173,0,0.0,2,4,2,1
128,52,M,2,138,223,0,1,169,0,0.0,2,4,2,1
208,38,M,2,138,175,0,1,173,0,0.0,2,4,2,1
242,38,M,2,138,175,0,1,173,0,0.0,2,4,2,1
290,52,M,2,138,223,0,1,169,0,0.0,2,4,2,1
340,38,M,2,138,175,0,1,173,0,0.0,2,4,2,1
348,43,M,0,132,247,1,0,143,1,0.1,1,4,3,0
417,52,M,2,138,223,0,1,169,0,0.0,2,4,2,1
428,43,M,0,132,247,1,0,143,1,0.1,1,4,3,0
465,38,M,2,138,175,0,1,173,0,0.0,2,4,2,1
521,58,M,1,125,220,0,1,144,0,0.4,1,4,3,1
597,38,M,2,138,175,0,1,173,0,0.0,2,4,2,1
743,58,M,1,125,220,0,1,144,0,0.4,1,4,3,1
749,58,M,1,125,220,0,1,144,0,0.4,1,4,3,1
831,58,M,1,125,220,0,1,144,0,0.4,1,4,3,1
970,38,M,2,138,175,0,1,173,0,0.0,2,4,2,1
993,43,M,0,132,247,1,0,143,1,0.1,1,4,3,0

In [90]:
df1.loc[df1['ca']==4,'ca']=np.NaN

In [91]:
df1

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,M,0,125,212,0,1,168,0,1.0,2,2.0,3,0
1,53,M,0,140,203,1,0,155,1,3.1,0,0.0,3,0
2,70,M,0,145,174,0,1,125,1,2.6,0,0.0,3,0
3,61,M,0,148,203,0,1,161,0,0.0,2,1.0,3,0
4,62,F,0,138,294,1,1,106,0,1.9,1,3.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,M,1,140,221,0,1,164,1,0.0,2,0.0,2,1
1021,60,M,0,125,258,0,0,141,1,2.8,1,1.0,3,0
1022,47,M,0,110,275,0,0,118,1,1.0,1,1.0,2,0
1023,50,F,0,110,254,0,0,159,0,0.0,2,0.0,2,1
1024,54,M,0,120,188,0,1,113,0,1.4,1,1.0,3,0

In [92]:
df1.isnull().sum()

age          0
sex          0
cp           0
trestbps     0
chol         0
fbs          0
restecg      0
thalach      0
exang        0
oldpeak      0
slope        0
ca          18
thal         0
target       0
dtype: int64

In [93]:
df1.loc[df1['sex']=='M','sex']=1
df1.loc[df1['sex']=='F','sex']=0

df1=df1.fillna(df1.median())
df1

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2.0,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0.0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0.0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1.0,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0.0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1.0,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1.0,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0.0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1.0,3,0

In [94]:
df1.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [95]:
df1.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [96]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

X = df1[['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal']]
y = df1['target']

# Splitting data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Initialize logistic regression model
model = LogisticRegression()

# Train the model
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8878048780487805

/Users/omkarbhavthankar/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [97]:
y_pred

array([1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0,
       1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 0, 1, 0, 0, 1, 0])